body {
  font-family:helvetica neue,san-serif;
  text-align:center;
}
#rotate,#grid,.box{
  -webkit-user-select:none;
}
#main {
  margin:20px auto;
  max-width:720px;
}
#rotate,#grid {
  margin:20px auto 40px;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  width:410px;
  height:410px;
  padding:20px;
  background: rgba(101, 93, 174, 0.2);
  border: solid #ffc04a 1px;
  border-radius:10px;
  font-size:20px;
  float:left;
  overflow:hidden;
  cursor:pointer;
}
@media (max-width:740px){
  #rotate,#grid{
    float:none;
  }
}
@media (max-width:480px){
  #rotate,#grid{
    margin-bottom:20px;
    padding:5px;
    width:288px;
    height:288px;
    font-size:14px;
    border-radius:5px;
  }
}
.box {
  margin:3px;
  width:45px;
  height:45px;
  line-height:45px;
  text-align:center;
  background:#001f3dd4;
  color: white;
  box-shadow:0 0 5px rgba(0,0,0,0.1);
  border-radius:5px;
  float:left;
  font-family: 'Press Start 2P', cursive;
}
@media (max-width:480px){
  .box{
    width:30px;
    height:30px;
    line-height:30px;
  }
}
.box.highlight{
  background:#111;
  color:#fff;
}
.box.found-red {
  background: #ea2c2c;
  background: -webkit-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: -moz-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: -o-linear-gradient(#ea2c2c 50%, #d62222 51%);
  background: linear-gradient(#ea2c2c 50%, #d62222 51%); 
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ea2c2c', endColorstr='#d62222',GradientType=0 );
  color:#fff;
}
.box.found-green {
  background: #a1d54f;
background: -webkit-linear-gradient(#a1d54f 50%, #80c217 51%);
background: -moz-linear-gradient(#a1d54f 50%, #80c217 51%);
background: -o-linear-gradient(#a1d54f 50%, #80c217 51%);
background: linear-gradient(#a1d54f 50%, #80c217 51%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a1d54f', endColorstr='#80c217',GradientType=0 );
  color:#fff;
}
.box.found-yellow{
  background: #fff94f;
  background: -webkit-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -moz-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: -o-linear-gradient(#fff94f 50%, #ffe500 51%);
  background: linear-gradient(#fff94f 50%, #ffe500 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff94f', endColorstr='#ffe500',GradientType=0 );
  color:#fff;
}
.box.found-blue{
  background: #71ceef;
  background: -webkit-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -moz-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: -o-linear-gradient(#71ceef 50%, #21b4e2 51%);
  background: linear-gradient(#71ceef 50%, #21b4e2 51%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#71ceef', endColorstr='#21b4e2',GradientType=0 );
  color:#fff;
}
.box.found-purple {
  background: #c928a9;
  background: -webkit-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -moz-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: -o-linear-gradient(#c928a9 49%, #b5177d 49%);
  background: linear-gradient(#c928a9 49%, #b5177d 49%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c928a9', endColorstr='#b5177d',GradientType=0 );
  color:#fff;
}
#listContainer {
  margin:20px 0 0 20px;
  padding:20px;
  float:left;
  height:410px;
  width:200px;
  background: rgba(101, 93, 174, 0.2);
  border: solid #ffc04a 1px;
  border-radius: 10px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  white-space: pre-line;


}
@media (max-width:740px){
  #listContainer{
    margin:auto;
    float:none;
    width:250px;
    height:auto;
    padding-top:5px;
  }
}
#list{
  margin:auto;
  padding-left:20px;
  font-size:20px;
  text-align:left;
  list-style:none;
}
#list li.found{
  color:gray;
  text-decoration:line-through;
}
#restart {
    background: #001f3dd4;
    border-radius: 45px;
    cursor: pointer;
    margin-top: -26px;
    display: none;
}
.btn_list{
  color: white;
  line-height: 20px;
}
#rotate, .box_vom {
	-webkit-animation: rotate-center 10s ease-in-out infinite both;
	        animation: rotate-center 10s ease-in-out infinite both;
}

.box_vom {
	-webkit-animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
	        animation: text-blur-out 1.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) infinite both;
}

.box_rot {
	-webkit-animation: rotate-box 10s ease-in-out infinite both;
	        animation: rotate-box 10s ease-in-out infinite both;
}

.background {
  background-image: url("../img/boutade.png");
  background-repeat: no-repeat;
  background-size: cover
}
/* ----------------------------------------------
 * Generated by Animista on 2019-6-9 17:32:24
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */

 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}


@-webkit-keyframes rotate-box {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes rotate-box {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
 
/* ----------------------------------------------
 * Generated by Animista on 2019-6-9 20:1:28
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-blur-out
 * ----------------------------------------
 */
 @-webkit-keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
@keyframes text-blur-out {
  0% {
    -webkit-filter: blur(0.01);
            filter: blur(0.01);
  }
  100% {
    -webkit-filter: blur(12px) opacity(0%);
            filter: blur(12px) opacity(0%);
  }
}
