/* body global and logo */ 


body {
    background: url(../img/qiUOCMB.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    background-size: cover;
    overflow: hidden;
}

.logo {
    height: 150px;
    margin: 10px;
    display: block;
}

/* style blocs */

.global {
  display: flex;
  justify-content: center;
  height: 75vh;
    
}
.left , .right {
  position: relative;
  bottom: 100px;
  width: 35%;
  background: rgba(101, 93, 174, 0.2);
  margin: 28px;
  padding: 20px;
  border-radius: 70px;
  border: solid #ffc04a 2px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.central {
    display: block;
    margin: auto;
    margin-top: -45px;
    width: 35%;
    background: rgba(101, 93, 174, 0.2);
    padding: 20px;
    border-radius: 7px;
    border: solid #ffc04a 1px;

}

.globalresponsive {
    display: none;
}

/* style écritures */

a {
    text-decoration: none;
}

h3 , .regles, .play, label, p {
    color: white;
    font-family: 'Covered By Your Grace', cursive;
    font-size: 24px;
}

ul, h3, form, p {
    text-align: center;
}

.play {
    font-size: xx-large;
    font-family: 'Press Start 2P', cursive;
}

/* style boutons */

button {
  background-color: transparent;
  border-radius: 15px;
  display: block;
  margin: auto;
  font-family: 'Press Start 2P', cursive;
  color: white;
  padding: 18px;
  cursor: pointer;
  margin-bottom: 10px;
}

.score {
    display: block;
    margin: auto;
    height: 90px;
}

/* style formulaire inscription et connexion*/

label {
    display: block;
    margin-bottom: 0; 
    text-align: center;
}

.inp {
    background-color: transparent;
    border: 0px;
    border-bottom: 1px solid #ffc04a;
    margin-bottom: 25px;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }

/* style page score*/

.score {
    display: block;
    margin: auto;
}

/* footer */

footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    }

/* partie responsive */ 

@media (max-width: 414px) {
    .globalresponsive {
        display: block;   
    }

    .right {
        display: block;
        width: 85%;
        bottom: -40px;
        margin: auto;
    }

    .global {
        display: none;
    }

    .logo {
        height: 95px;
    }

    h3 {
        display: none;
    }

    .central {
        width: 75%;
        margin-top: 35px;
    }

    body {
        background: url(../img/responsive.png) no-repeat center fixed;
        -webkit-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }
}
